<div class="contents-title text-center">
  <div class="row justify-content-center">
    <div class="col-md-4 text-left mb-4">
      <h3>商品一覧</h3>
    </div>
    <div class="col-md-4 text-right text-secondary ">
      <%= link_to new_admin_item_path, class: "mr-5" do %>
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-plus-circle text-secondary" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 text-left">
      <table class="table table-hover" >
        <tr class="table-active">
            <th class="col-1">商品名ID</th>
            <th class="col-2">商品名</th>
            <th class="col-1">税抜価格</th>
            <th class="col-2">ジャンル</th>
            <th class="col-2">ステータス</th>
          </tr>
          <tbody>
            <% @items.each do |item| %>
              <tr>
                <td class="col-1 align-middle">
                  <%= item.id %>
                </td>
                <td class="col-2 align-middle">
                  <%= link_to admin_item_path(item.id), class: "text-secondary" do %>
                    <%= item.name %>
                  <% end %>
                </td>
                <td class="col-1 align-middle">
                  <%= item.price %>
                </td>
                <td class="col-2 align-middle">
                  <%= item.genre.name %>
                  </td>
                <td class="col-2 align-middle h6 font-weight-bold">
                  <% case item.sales_status when "販売中" %>
                  <span style="color: green;"><%= item.sales_status %></span>
                  <% when "販売中止" %>
                  <span style="color: dimgray;"><%= item.sales_status %></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-8">
      <%= paginate @items %>
    </div>
  </div>
</div>