<h3>商品一覧</h3>

<div class="">
  <table>
      <tr>
        <th>
          商品名ID
        </th>
        <th>
          商品名
        </th>
        <th>
          税抜価格
        </th>
        <th>
          ジャンル
        </th>
        <th>
          ステータス
        </th>
      </tr>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td>
              <%= item.name %>
            </td>
            <td>
              <%= item.price %>
            </td>
            <td>
              <%= item.genre.name %>
            </td>
            <td>
              <% case item.sales_status when "販売中" %>
              <span style="color: green;"><%= item.sales_status %></span>
              <% when "販売中止" %>
              <span style="color: dimgray;"><%= item.sales_status %></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <%= paginate @items %>
</div>