<% if　false %>
<h4>注文詳細</h4>

  <table>
      <tr>
        <td>購入者</td>
        <%#まだモデルにメソッドを作ってない%>
        <td><%= link_to @order.member.full_name, admin_member_path(@order.member) %></td>
        <td></td>
      </tr>
      <tr>
        <td>注文日</td>
        <%#日本時間を表示させるのでコンフィグ/アプリケーションを変更しなければいけない%>
        <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
        <td></td>
      </tr>
      <tr>
        <td>配送先</td>
        <td>
          <div>〒 <%= @order.post_number %> <%= @order.address %></div>
          <div><%= @order.name %></div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>支払い方法</td>
        <%#支払い方法日本語化%>
        <td><%= @order.payment_method_i18n %></td>
        <td></td>
      </tr>
      <tr>
        <td>注文ステータス</td>
        <%= form_with model:[:admin, @order], local: true do |f| %>
        <td>
          <div>
            <%# ステータスのプルダウン%>
            <%= f.collection_select :status, order.status_i18n, (selected: order.status) %>
            <%= f.submit "更新" %>
          </div>
        </td>
        <td></td>
        <% end %>
      </tr>
    </table>

    <table>



    <% @order.item_orders.each do |item_orders| %>
    <% end %>
    </table>

 <% end %>