<div class="container">
  <div class="row-justify-content-center">
    <div class="col-md-3 my-5 text-center bg-light">
    <h4><b>注文情報確認</b></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-7">
      <table class="tabele table-borderless">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td><%= attachment_image_tag cart_item.item, :image, :fill, 80, 50 %> <%= cart_item.item.name %></td>
              <%#数値を3行で区切るto_s delimited%>
              <td><%= (cart_item.item.price*1.1).to_i %></td>
              <td><%= cart_item.count %></td>
              <td>
                <% subtotal = ((cart_item.item.price*cart_item.count)*1.1).to_i %>                  <%= subtotal %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>


    <div class= "col-md-5">
      <table class= "table table-borderless">
        <tbody>
          <tr>
            <th>送料</th>
            <td><%= @postage %></td>
          </tr>
          <tr>
            <th>商品合計</th>
            <td><%= @total_payment %></td>
          </tr>
          <tr>
            <th>請求金額</th>
            <td><%= @total_payment + @postage %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <p>支払い方法 <%= @order.payment_methods_i18n %></p>
  </div>

  <div class="row">
    <h4><b>お届け先</b></h4>
    <p>
      〒
      <%= @order.post_number %>
      <%= @order.address %>
      <%= @order.name %>
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="">
      <%= form_with model: @order, url:orders_path, local: true do |f| %>
        <%= f.hidden_field :payment_methods, value: @order.payment_methods %>
        <%= f.hidden_field :post_number, value: @order.post_number %>
        <%= f.hidden_field :address, value: @order.address %>
        <%= f.hidden_field :name, value: @order.name %>
        <%= f.hidden_field :total_payment, value: @order.total_payment %>
        <%= f.submit "注文を確定する", class: "btn btn-sm btn-success" %>
      <% end %>
    </div>
  </div>
</div>
