<h3>商品新規登録</h3>

<%= form_with model:@item, local:true do |f| %>
  <div class="item-form">
    <%= f.label :image %>
    <%= f.attachment_field :image %>
  </div>
  <div class="item-form">
    <%= f.label :name %>
    <%= f.text_area :name, placeholder => "商品名" %>
  </div>
    <div class="item-form">
    <%= f.label :introduction %>
    <%= f.text_area :introduction, placeholder => "ここに説明文を記述します", :size=>"100x100" %>
  </div>
    <div class="item-form">
    <%= f.label :genre %>
    <%= f.text_area :genre %>
    <%= f.select :genre.name, [["ケーキ", "ケーキ"], ["キャンディ", "キャンディ"], ["プリン", "プリン"], ["焼き菓子", "焼き菓子"]], include_blank: "--選択してください--" %>
  </div>
    <div class="item-form">
    <%= f.label :price %>
    <%= f.text_field :price, placeholder => "1000" %>円
  </div>
  <div class="item-form">
    <%= form.radio_button :sales_status, :0 %>
    <%= form.label :sales_status, "販売中", {value:0 :, style: "display: inline-block;"},checked: true %>
    <%= form.radio_button :sales_status, :1 %>
    <%= form.label :sales_status, "販売中止", {value: :1, style: "display: inline-block;"} %>
  </div>
  <div class="item-form">
    <%= f.submit '新規登録' %>
  </div>
<% end %>