<div class="contents-title text-center p-4">
  <div class="row p-5">
    <div class="col-md-3 mr-5">
      <!--<p>部分テンプレート記述欄</p>-->
    </div>
    <div class="col-md-8">
       <div class="row align-items-center">
        <div class="col-lg-8 ">
          <%= attachment_image_tag @item, :image, size: "500x400", fallback: "no_image.jpg" %>
        </div>
        <div class="col-lg-8 text-left">
          <div id="notice">
            <p><%= flash[:alert] %></p>
          </div>
          <p class="h4 font-weight-bold"><%= @item.name %></p>
          <p class="w-100"><%= @item.introduction %></p>
          <p>
            <strong>￥<%= ((@item.price.to_i * 1.1).round).to_s(:delimited) %></strong>
            (税込)
          <p>
          <%= form_with(model:[@cart_item], url:cart_items_path(@cart_item), local:true) do |f| %>
            <%= f.hidden_field :item_id, value: @item.id %>
            <%= f.number_field :count, placeholder: "個数", min: 1, max: 20 %>
             <% if member_signed_in? %>
              <%= f.submit "カートに入れる", class: 'btn btn-primary' %>
            <% else %>
              <%= f.submit "カートに入れる", class: 'btn btn-primary', disabled: true %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
