<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/cb9870c1ab.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container-fluid bg-light">
        <div class="row justify-content-between">
          <a class="col-auto mr-auto p-3 m-0" href="/"><%= image_tag('logo.png', :size =>'80x80') %></a>
          <div class="col-md-lg-auto mr-3 align-self-center">
            <% if member_signed_in? %>
            <button class= "btn btn-outline-secondary mr-3">
              <%= link_to "マイページ", member_path(current_member.id), class: "text-dark" %>
            </button>
            <button class= "btn btn-outline-secondary mr-3">
              <%= link_to "商品一覧", items_path, class: "text-dark" %>
            </button>
            <button class= "btn btn-outline-secondary mr-3">
              <%= link_to "カート", cart_items_path(current_member.id), class: "text-dark" %>
            </button>
            <button class= "btn btn-outline-secondary">
              <%= link_to "ログアウト", destroy_member_session_path,method: :delete, class: "text-dark" %>
            </button>
            <% elsif admin_signed_in? %>
            <button class= "btn btn-outline-secondary mr-3">
              <%= link_to "商品一覧", admin_items_path, class: "text-dark" %>
            </button>
            <button class= "btn btn-outline-secondary mr-3">
              <%= link_to "会員一覧", admin_members_path, class: "text-dark" %>
            </button>
            <button class= "btn btn-outline-secondary mr-3">
              <%= link_to "注文履歴一覧", admin_root_path, class: "text-dark" %>
            </button>
            <button class= "btn btn-outline-secondary mr-3">
              <%= link_to "ジャンル一覧", admin_genres_path, class: "text-dark" %>
            </button>
            <button class= "btn btn-outline-secondary">
              <%= link_to "ログアウト", destroy_admin_session_path,method: :delete, class: "text-dark" %>
            </button>
            <% else %>
            <button class= "btn btn-outline-secondary mr-3">
              <%= link_to "About", about_path, class: "text-dark" %>
            </button>
            <button class= "btn btn-outline-secondary mr-3">
              <%= link_to "商品一覧", root_path, class: "text-dark" %>
            </button>
            <button class= "btn btn-outline-secondary mr-3">
              <%= link_to "新規登録", new_member_registration_path, class: "text-dark" %>
            </button>
            <button class= "btn btn-outline-secondary">
              <%= link_to "ログイン", new_member_session_path, class: "text-dark" %>
            </button>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    <div id="notice"><%= flash[:notice] %></div>
    <%= yield %>
    <footer></footer>
  </body>
</html>
